---
import Navigation from "./Navigation.astro"
import Hamburger from '../components/Hamburger.astro'
---

<!-- <style>
  nav {
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  a {
    color: rgb(58, 58, 58);
  }
</style> -->
<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
